.nav {
    text-align: center;
    margin-top: 30px;
}

.nav a {
    
    display: inline-block; /* Make the links inline-block to apply padding */
    padding: 20px 40px; /* Increase padding for a bigger button */
    border-radius: 10px; /* Make the buttons more squareish */
    font-size: 20px; /* Increase font size */
    background-color: rgb(188, 204, 154);
    color: white; /* Text color */
    text-decoration: none; /* Remove underline */
    margin: 10px; /* Add margin between buttons */
        margin-top: 20px; /* Butonların üst kenarından sayfanın üst kenarına olan boşluk */

}

.nav a:hover {
    background-color: #e67e22; /* Change background color on hover */
}


#homelink {
    background-color: #f39c12; /* Turuncu arka plan */
    color: white; /* Beyaz metin */
    margin-top: 50px;
    margin-left: 50px;
}

.w3-bar-item {

    padding: 10px 15px; /* Düğme boyutu */
    margin: 0 5px; /* Kenar boşluğu */
    text-decoration: none; /* Metin altı çizgisi yok */
    border-radius: 5px; /* Köşeleri yuvarlak yap */
    transition: background-color 0.3s; /* Geçiş efekti */
    background-color: #f39c12;
    color: white;
    font-family:  Sans, sans-serif	

}

.w3-bar-item:hover {
    background-color: #928989; /* Hover durumunda farklı bir renk */
}


#about-link {
    background-color: #3498db; /* Mavi arka plan */
    color: white; /* Beyaz metin */
}

/* Menu bağlantısı için stil */
#menu-link {
    background-color: #f39c12;
    color: white; /* Beyaz metin */
}

/* Contact bağlantısı için stil */
#contact-link {
    background-color: #e74c3c; /* Kırmızı arka plan */
    color: white; /* Beyaz metin */
}


.main-theme {
    text-align: center;
    margin-top: 50px;
    
    

}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
   
}

.main-image {
    width: 100%; /* Resmi tam sayfa genişliğinde yap */
    height: auto; /* Yüksekliği otomatik ayarla */
    margin-left: auto; /* Sol kenarı otomatik ayarla */
    margin-right: auto; /* Sağ kenarı otomatik ayarla */
    display: block; /* Resmi blok element olarak göster */
    
}

.scroll-down {
    text-align: justify;
    padding: 20px;
    
    background-color: rgb(234, 231, 198);

}

.scroll-down p {
    font-size: 18px;
    color: #333;
    line-height: 1.6;
}

.scroll-down p#explanation {
    font-size: 20px;
    color: #444;
    margin-bottom: 20px;
}

.scroll-down::after {
    content: "";
    display: block;
    height: 100px; /* Scroll down butonu yerleşene kadar ek alan oluştur */
}

.description{
    margin-top: 20px;
    max-width: 600px;
}

h2 {
    font-size: 30px;
    color: #004225;
    font-family: Verdana, sans-serif;
    margin-bottom: 10px;
}

p {
    font-size: 18px; /* Increase font size for better readability */
    line-height: 1.6; /* Add some spacing between lines */
    color: #333; /* Darken the text color for better contrast */
    margin-top: 20px; /* Increase top margin for separation */
    margin-bottom: 20px; /* Increase bottom margin for separation */
    text-align: justify; /* Justify text for a cleaner look */
}

#explanation{
    font-size: 20px; /* Increase font size for emphasis */
    color: #444; /* Darken the text color slightly */
    margin: 0 auto; /* Center the paragraph horizontally */
    max-width: 800px; /* Limit the width for better readability */

}


.header{
    text-align: center;
    font-size: 36px;
    color: rgb(195, 123, 137);
    margin-top: 50px;
    margin-bottom: 30px;
    text-transform: uppercase; /* Convert text to uppercase */
    font-family: "Arial", sans-serif; /* Change font family */
    letter-spacing: 2px; /* Add letter spacing for better readability */
}

.fruit-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.fruit-row{
    display: flex;
    justify-content: space-around;

}


.fruit-item {
    width: 200px;
    height: 300px;
    
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
    transition: transform 0.3s;
    overflow: hidden; 
}

.fruit-item:hover {
    transform: scale(1.1);
}

.fruit-item h2 {
    margin-top: 10px;
    color: #333;
}

.fruit-image {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    border-radius: 8px 8px 0 0;
}


.vegetable-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.vegetable-row {
    display: flex;
    justify-content: space-around;
}

.vegetable-item {
    width: 200px;
    height: 300px;
   
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
    transition: transform 0.3s;
    overflow: hidden; 
}

.vegetable-item:hover {
    transform: scale(1.1);
}

.vegetable-item h2 {
    margin-top: 10px;
    color: #333;
}

.vegetable-image {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    border-radius: 8px 8px 0 0;
}

.page container{
    background-color: rgb(209, 232, 228);
}
